l<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
		<title> Accueil Gérant </title>
	</head>

	<body>
		<h1> Bienvenue sur votre compte ! </h1>
		
		<a href="../views/alertes_gerant.html">Vous avez x alertes.</a>  <br/>
		Accédez aux fonctionnalités de votre compte en cliquant sur les autres onglets de la page.
		

	</body>

</html>
	