<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
<title>Authentification</title>
</head>
<body>

	<h1>Page de connexion</h1>
	<h2>Veuillez vous authentifier : </h2>
	<label for="identifiant">Identifiant : </label>
	<input type="text" id="identifiant" name="identifiant"/> </br>
	
	<label for="password">Mot de passe : </label>
	<input type="password" id="password" name="password"/> </br>
		
		
	<a href="../views/mdpfaux.html"> <span> Pop up</span> </a>
	<a href="../views/accueil_gerant.html"><input type="button" id="valider" name="valider" value="Valider"/>
	<!-- modifier les accès à partir du bouton (pour tous les utilisateurs) -->
</body>
</html>