<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Votre compte</h1>
			
				<label for="identifiant">Identifiant : </label>
				<input type="text" id="identifiant" name="identifiant" value="A"/> </br>
				
				<label for="password">Mot de passe (provisoire) : </label>
				<input type="password" id="password" name="password"/> </br>
				
				<label for="rôle">Rôle de l'utilisateur : </label>
				<select id="role" name="role"> 
					<option> - </option>
					<option>Gérant</option>
					<option>Cuisinier</option>
					<option>Serveur</option>
				</select></br>
				
				<input type="button" id="modifier" name="modifier" value="Modifier votre compte"/>

		</form>
</body>
</html>