@(categories: List[Categorie])
<!DOCTYPE html>
<html>

<head>
<title>Nouvel ingrédient gérant</title>
</head>

<body>
@views.html.gerant_header()
		
		@helper.form(routes.Application.creationIngredientTraitement) {
			<h1> Ajouter un nouvel ingrédient </h1>
			<fieldset>
				<legend> Informations du nouvel ingrédient</legend>
			
				<label for="nom">Nom : </label>
				<input type="text" id="nom" name="nom"/> </br>
				
				<label for="categorie">Categorie : </label>
				<select id="categorie" name="categorie"> 
				@for(categorie <- categories){
					<option value="@categorie.catid">@categorie.categoryName</option>
				}
				</select></br>
				
				<label for="unité">Unite : </label>
				<select id="unité" name="unite"> 
					<option value="piece">Pièce</option>
					<option value="kilogramme">kilogramme</option>
					<option value="gramme">gramme</option>
					<option value="litre">litre</option>
				</select></br>
				
				<div id="ajout">
					<input type="hidden" id="categorieLignes" name="categorieLignes" value="0" />
				</div>
				
				<input type="button" class="btn btn-success btn btn-success" id="ajouter" name="ajouter" value="Ajouter une catégorie" onclick="clicked()"/>
				<div class="row">
					<input type="submit" class="btn btn-success btn btn-success col-md-2 col-md-offset-4" id="ajouter" name="ajouter" value="Ajouter ingrédient"/>
				</div>
			</fieldset>
		}
		
		<script>
		
			var line = 0;
			
			function clicked(){
				if(line == 0){
					$('<h3 />').text("Définissez une nouvelle catégorie d'aliment:")
					  .appendTo($("#ajout"));
				}
				
				line ++;
				
				$('<label />').text("Catégorie:")
							  .appendTo($("#ajout"));
				
				$('<input />', {
					id : "categorie" + line,
					class : categorie, 
					name : "categorie" + line
				}).appendTo($("#ajout"));
				
				$('<br>').appendTo($("#ajout"));

				$("#categorieLignes").val(line);
			}
		</script>
		
		@views.html.footer()
</body>
</html>