@(categories: List[Categorie])
<!DOCTYPE html>
<html>

	<head>
		<title>Nouvel ingrédient</title>
	</head>

	<body>
	@views.html.gerant_header()
			
			@helper.form(routes.Application.creationIngredientTraitement) {
			
			
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
	      			<div class="main">
	              		 <div class="row">
							 <div class="col-xs-4 col-sm-6 col-sm-offset-1">
								<h1> Ajouter un nouvel ingrédient </h1>
								<h2> Informations du nouvel ingrédient</h2>
			
								<div class="form-group">
									<input name="nom" placeholder="Nom de l'ingrédient" class="form-control" type="text"id="nom" /> </br>
									
									<label for="nom">Catégorie l'ingrédient : </label>
									<select name="categorie" id="categorie">
				
									@for(categorie <- categories){
										<option value="@categorie.catid">@categorie.categoryName</option>
									}
									</select><br>
								
									<label for="unite">Unité :</label>
									<select name="unite" id="unite">
										<option value="piece">piece</option>
										<option value="gramme">gramme</option>
										<option value="litre">litre</option>
										<option value="kilogramme">kilogramme</option>
										<option value="kilolitre">kilolitre</option>
									</select>			
								
									<div id="ajout">
										<input type="hidden" id="categorieLignes" name="categorieLignes" value="0" />
											<div class="row">
												<input type="submit" class="btn btn-success btn btn-success col-md-2 col-md-offset-4" id="ajouter" name="ajouter" value="Créer"/> </br> </br>
												<input type="button" class="btn btn-success btn btn-success col-md-4 col-md-offset-4"  name="ajouter" value="Ajouter une catégorie" onclick="clicked()"/>     
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
		
		}
		
			<script>
		
			var line = 0;
			
			function clicked(){
				if(line == 0){
					$('<h2 />').text("Ajout d'une nouvelle catégorie d'aliment :")
					  .appendTo($("#ajout"));
				}
				
				line ++;
				
				$('<label />').text("Catégorie:")
							  .appendTo($("#ajout"));
				
				$('<input />', {
					type: "text",
					id : "categorie" + line,
					class : "categorie", 
					name : "categorie" + line
				}).appendTo($("#ajout"));
				
				$('<br>').appendTo($("#ajout"));

				$("#categorieLignes").val(line);
			}
			
			</script>
		
		@views.html.footer()
	</body>
</html>