<!DOCTYPE html>
<html>

	<head>
		<meta charset="ISO-8859-1">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<title>Stock du cuisinier</title>
	</head>
	
	<body>
		<form id="form1" class="col-lg-12">
			<fieldset>
			Code couleur :<br>
				<canvas id="myCanvas" width="200" height="0" style="border:1px solid green;"> </canvas>  Stock normal<br>
				<canvas id="myCanvas" width="200" height="0" style="border:1px solid orange;"> </canvas>  Stock faible<br>
				<canvas id="myCanvas" width="200" height="0" style="border:1px solid red;"> </canvas>  Stock critique, en-dessous du seuil ou nul<br>
			</fieldset>
		</form>
	
	</body>
	
</html>