@(produits: List[Produit])
<!DOCTYPE html>
<html>

	<head>
		<title>Accueil cuisinier</title>
	</head>

	<body>
	@views.html.cuisinier_header()
	
	<div class="container">
	
		<input type="text" id="plat" name="plat"  placeholder="Votre plat" class="form-control"/> </br>
		
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">
					<h3>Ingredients</h3>
				</div>
				<div class="col-md-4">
					<h3>Quantite</h3>
				</div>
				<div class="col-md-4">
					<h3>Unite</h3>
				</div>
			</div><br>
		</div>
		
		<div id="nouvelIngredient">
		
		</div>
		
		<input type="button" value="Nouvel ingredient"  class="btn btn-success btn btn-success" onclick="clicked()" /><br>
		
	</div>
	
	<script>
		var line = 0;
		var tab = ["ingredient","quantite","unite"];
		var unites = ["piece","kilogramme","gramme","litre"];
		
		function clicked(){
			
			line ++;
			
			$('<div />', {
				id : "lineGroup"+line,
				class : "form-group", 
			}).appendTo($('#nouvelIngredient'));
			
			$('<div />', {
				id: "ligne"+line,
				class: "row",
			}).appendTo($('#lineGroup'+line));
			
			for(var i = 0; i < 3; i++){
				if(i == 0){
					
					$('<div />', {
						class: "col-md-4",
						id: "div"+line+i,
					}).appendTo($("#ligne"+line));
					
					$('<select />', {
						name: tab[i] + "Created" + line,
						class : "select",
						id: tab[i] + "Created" + line
					}).appendTo($("#div"+line+i));
	
					@for(produit <- produits) {
						$('<option />', {
											value: "@produit.pid",
											id: "option"+line+i,
										}).html("@produit.productName")
										  .appendTo($("#IngredientCreated" + line));
					}
					
				}else if(i == 2){
					
					$('<div />', {
						class: "col-md-4",
						id: "div"+line+i,
					}).appendTo($("#ligne"+line));
					
					$('<select />', {
						name: tab[i] + "Created" + line,
						class : "select",
						id: tab[i] + "Created" + line
					}).appendTo($("#div"+line+i));
	
					for(var j = 0; j < unites.length; j++){
						$('<option />', {
											value: unites[j],
											id: "option"+line+i,
										}).html(unites[j])
										  .appendTo($("#" + tab[i] + "Created" + line));
					}
				
				}else{
						
						$('<div />', {
							class: "col-md-4",
							id: "div"+line+i,
						}).appendTo($("#ligne"+line));
						
						$('<input />', {
							name : tab[i] + "Created" + line,
							class : "select" + tabIndice[i],
							id : tab[i] + "Created" + line,
							type : "text",
						}).appendTo($("#div"+line+i));
						
				}
			}
		}
	</script>
	
    @views.html.footer()
	</body>