<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
		<title>Footer</title>
	</head>

	<body>
		
		
		 <div class="container">
		 <div class="container">
		</br>
		<canvas id="canvasfooter" style="border:1px solid rgb(100,100,100);"></canvas> </div>
		<a href="#">Retour en haut de la page</a>
	</body>
</html>
