@(produits: List[Produit], stockRestos: List[StockResto])

<!DOCTYPE HTML>
<html>

	<head>
		<title> Mes stocks</title>
	</head>

	<body>
	@views.html.gerant_header()	
		
	 <div class="container">
			<br><br><br>	
			
	@helper.form(routes.Application.modificationStock) {
				
				<input type="hidden" name="linesUpdated" id="linesUpdated" value="" />
				<div class="form-group" id="id0">
					<script>
						var quantite = 0, minimum = 0, alerte=0,couleur=0;
						var tabIndice = ["ingredient","quantite","minimum","maximum","alerte","unite"];
						var tabValeurs = [];
						var compteurLigne = 0;
					
						
						@for(produit <- produits){// pour chaque produit stocke dans la base de donnees;
							
							@for(stockResto <- stockRestos){// Pour chaque stock stocke dans la base de donnees;
								
								@if(stockResto.produit.pid == produit.pid){ // Si le stock se refere au produit courant alors on l'affiche, sinon on ne fait rien;
									
									quantite = @stockResto.quantite;
									minimum = @stockResto.stockMin; 
									alerte = @stockResto.stockAlerte;
									compteurLigne ++;
									
									if(quantite <= alerte){
										couleur = "orange";
										if (quantite <= minimum){
											couleur = "red";
										}
									}else if(quantite > alerte){
										couleur = "green";
									}
									
									tabValeurs = ["@produit.productName","@stockResto.quantite","@stockResto.stockMin","@stockResto.stockMax","@stockResto.stockAlerte","@stockResto.unite"];
									
									for(var i = 0; i < tabIndice.length; i++){
										
											$('<div />', {
					    						id : "form-group"+compteurLigne,
					    						class : "form-group", 
											}).appendTo($('#id0'));
										
											$('<div />', {
												id: "row"+compteurLigne,
												class: "row",
											}).appendTo($("#form-group"+compteurLigne));
											
											$('<div />', {
												class: "col-md-2",
												id: "col"+i+compteurLigne,
											}).appendTo($("#row"+compteurLigne));
											
											$('<label />', {
												for: tabIndice[i],
												id : 'label'+compteurLigne+i,	
											}).html(tabIndice[i]+":")
											  .appendTo($("#col"+i+compteurLigne));
								
											$('<br>').appendTo($("#col"+i+compteurLigne));
											
											$('<input />', {
	    										id : tabIndice[i] +"lineUpdated"+ compteurLigne,
	    										class : tabIndice[i], 
	    										name : tabIndice[i] +"lineUpdated"+ compteurLigne,
	    										value : tabValeurs[i]
											}).css({color: couleur,
								    				border: "5px solid "+couleur}).appendTo($("#col"+i+compteurLigne));
									}
									
									$('<input />',{
													type: "hidden",  
													name: "hiddenlineUpdated"+ compteurLigne,
													value: "@stockResto.srid"
												  }).appendTo($("#id0"));
									
									$('<a />', {id: "a"+compteurLigne,
												href: "@routes.Application.supprimerStock(stockResto.srid)"
												}).appendTo($("#id0"));
									
									$('<input />',{type: "button",class: "btn btn-danger", value: "Supprimer"}).appendTo($("#a"+compteurLigne));
									$('<br>').appendTo($("#id0"));
									$('<br>').appendTo($("#id0"));
	
								}
								
							}
						}
						
						$("#linesUpdated").val(compteurLigne); // on indique le nombre de stocks affiches;
						
					</script>
					
				</div>
				
				<div class="form-group" id="id1">
				
					<div class="row">
						<br><br><br>
						<div class="col-xs-2">Code couleur : </div>
						<div class="col-xs-2">Stock normal : <canvas id="myCanvas" width="50" height="0" style="border:5px solid rgb(0,210,0);"></canvas> </div>
						<div class="col-xs-2">Stock faible : <canvas id="myCanvas" width="50" height="0" style="border:5px solid orange;"> </canvas> </div>
						<div class="col-xs-2">Stock critique : <canvas id="myCanvas" width="50" height="0" style="border:5px solid red;"> </canvas></div>
					
					</div>
						
				</div>
			
			<br><br><br>
				
			<div id="id2">
				<input type="hidden" name="linesCreated" id="linesCreated" value="" />		
			</div>
			
			<div class="form-group">
				<input type="button" value="Nouvel ingredient"  class="btn btn-success" onclick="clicked()" />
			</div>
				
			<div class="form-group">
				<input type="submit" value="Valider" class="btn btn-success" id="validation" />
			</div>
	}			
		@views.html.footer()
		</div>

	</body>
	<br><br><br>
	
		
	<script>
		var line = 0;
		var unites = ["piece","gramme","litre","kilogramme","kilolitre"];
	
		function clicked(){
			line ++;
			
			$('<div />', {
    						id : "blocv"+line,
    						class : "form-group", 
						}).appendTo($('#id2'));
			$('<div />', {
							id: "bloc"+line,
							class: "row",
						}).appendTo($('#blocv'+line));
			
			console.log(line);

			for(var i = 0; i < 6; i++){
				console.log(i);
				
				$('<div />', {
								class: "col-md-2",
								id: "div"+line+i,
							 }).appendTo($("#bloc"+line));
		
				if(i == 0){
					console.log(i);
									
					$('<label />', {
										for: tabIndice[i]+line+i,
										id : 'label'+line+i,	
									}).html(tabIndice[i]+":")
									  .appendTo($("#div"+line+i));
					
					$('<br>').appendTo($("#div"+line+i));
					
					$('<select />', {
										name: tabIndice[i] + "lineCreated" + line,
										class : "select" + tabIndice[i],
										id: tabIndice[i] + "lineCreated" + line
									}).appendTo($("#div"+line+i));
					
					@for(produit <- produits) {
						$('<option />', {
											value: "@produit.pid",
											id: "option"+line+i,
										}).html("@produit.productName")
										  .appendTo($("#"+tabIndice[i]+"lineCreated"+line));
					}
					
				}else if(i == 5){
					
					$('<label />', {
									for: tabIndice[i],
									id : 'label'+line+i,	
								}).html(tabIndice[i]+":")
								  .appendTo($("#div"+line+i));
					
					$('<br>').appendTo($("#div"+line+i));

					$('<select />', {
										name: tabIndice[i] + "lineCreated" + line,
										class : "select"+tabIndice[i],
										id: tabIndice[i] + "lineCreated" + line,
									} ).appendTo($("#div"+line+i));
					
					for(var j = 0; j < unites.length; j++){
						$('<option />', {
											value: unites[j],
											id: unites[j] + line,
										}).html(unites[j])
										  .appendTo($("#"+tabIndice[i]+"lineCreated"+line));
					}
					
				}else{
					
					$('<label />', {
									for: tabIndice[i],
									id : "label"+line+i,	
								}).html(tabIndice[i]+":")
								  .appendTo($("#div"+line+i));
					
					$('<input />', {
									name : tabIndice[i] + "lineCreated" + line,
									class : "select" + tabIndice[i],
									id : tabIndice[i] + "lineCreated" + line,
									type : "text",
								}).appendTo($("#div"+line+i));
					
				}
			}
			
			$('#linesCreated').val(line);
		}

	</script>

</html>
