<!DOCTYPE html>
<html>

	<head>
		<meta charset="ISO-8859-1">
		 <link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet"><link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
		<title>Suivi des commandes gérant</title>
	</head>

	<body>
		<!-- ajouter commandes et état commande de façon dynamique -->
		@views.html.gerant_header()
		@views.html.footer()
	</body>

</html>