<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
<title>Demande de réapprovisionnement</title>
</head>
<body>
@views.html.gerant_header()

@helper.form(routes.Application.traitement) {
	<h1> Demande de réapprovisionnement </h1>
		<fieldset>
			<legend>Informations pour la demande de réapprovisionnement</legend>
				<form>
					<p>De : <input id="email" name="email" type="text"/> (adresse mail du gérant) </br>
					A : <input id="email" name="email" type="text"/> (adresse mail de la maison mère) </br>
					<!-- Ingrédients à sélectionner-->
					Commentaire : </br> 
						<textarea id="commentaires" name="commentaires" rows="3" cols="30"> </textarea>
					</p>
					
					<button type="submit">Envoyer la demande</button>
				</form>
		</fieldset>
}

		@views.html.footer()

</body>
</html>