<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/app.css" rel="stylesheet">
		<script src="../../target/web/public/main/lib/jquery/jquery.js"></script>
		<title>Demande de réapprovisionnement</title>
	</head>

	<body>
		@views.html.gerant_header()
		
		
		
		@helper.form(routes.Application.traitement) {
			
			
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
	      			<div class="main">
	              		 <div class="row">
							 <div class="col-xs-4 col-sm-6 col-sm-offset-1">
							<h1> Demande de réapprovisionnement </h1>
				
								<h2>Informations pour la demande de réapprovisionnement</h2>
								<form>
									<div class="form-group">
									<input name="email" placeholder="Adresse mail du gérant" class="form-control" type="email"id="email" /> </br>
									<input name="email" placeholder="Adresse mail de la maison mère" class="form-control" type="email" id="email"/> </br>
									
									<!-- Ingrédients à sélectionner-->
									
									Commentaire :
									<textarea id="commentaires" name="commentaires"  rows="3" cols="30" class="form-control"> </textarea>
									</p>
									
									<button type="submit" class="btn btn-success btn btn-success">Envoyer la demande</button>
									</div>
								</form>
						
					
					     </div>
	          		 </div>
	       		 </div>
	   		 </div>
		 </div>
	
		}
		
				@views.html.footer()
		
		</body>
</html>