
<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
		<title>Header & footer pour le gérant</title>
	</head>

	<body>
		<header>
			<a href="../restaurant_mon_compte"><input type="button" name="Mon compte" value="Mon compte" >
			<a href="../authentification"><input type="button" name="Deconnexion" value="Déconnexion" >
			
			<div class="container">
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
							<li onclick="clicked(this)"> <a href="../gerant_accueil">Accueil</a> </li>
							<li onclick="clicked(this)"> <a href="../gerant_stocks">Stocks</a> </li>
							<li onclick="clicked(this)"> <a href="../gerant_demande_reapprovisionnement">Demande de réapprovisionnement</a> </li>
							<li onclick="clicked(this)"> <a href="../gerant_alertes">Alertes</a> </li>
							<li onclick="clicked(this)"> <a href="../gerant_administration">Administration</a> </li>
							<li onclick="clicked(this)"> <a href="../gerant_suivi_des_commandes">Suivi des commandes</a> </li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		
	</body>
</html>