<!DOCTYPE html>
<html>
	
	<head>
		<title>Nouveau membre gérant</title>
	</head>
	
	<body>
	@views.html.gerant_header()
	
	@helper.form(routes.Application.nouveauMembreTraitement) {
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
	      			<div class="main">
	              		 <div class="row">
	              		 	<div class="col-xs-4 col-sm-6 col-sm-offset-1">
			<h1> Ajouter un nouveau membre </h1>
			
				<h2> Informations du nouveau membre</h2>
			
			
				<input type="text" id="identifiant" name="identifiant"  placeholder="Adresse mail" class="form-control"/> </br>
				<input type="password" id="password" name="password"  placeholder="Password" class="form-control"/> </br>
				
				<label for="rôle">Rôle de l'utilisateur : </label>
				<select id="role" name="role"> 
					<option> - </option>
					<option>Gérant</option>
					<option>Cuisinier</option>
					<option>Serveur</option>
				</select></br>
				
				<!--  <button type="submit" class="btn btn-success btn btn-success">Créer un membre</button> -->
				</div>
				</div>
				</div>
				</div>
				</div>
				@views.html.footer()
				</div>
			
	}
	
	<button type="submit" class="btn btn-success btn btn-success">Créer un membre</button>
	</body>
	
</html>
