@(produits: List[Produit])

<!DOCTYPE html>
<html>

<head>
<title>Nouvel ingrédient gérant</title>
</head>

<body>
@views.html.gerant_header()
		
		@helper.form(routes.Application.nouvelIngredientTraitement) {
			
		<div class="container">
			<h1> Ajouter un nouvel ingrédient </h1>
			<fieldset>
				<legend> Informations du nouvel ingrédient</legend>
			
				<label for="nom">Nom : </label>
				<select name="nom" id="ingredient">
				@for(produit <- produits) {
					<option value="@produit.productName">@produit.productName</option>
				}
				</select></br>
				
				<label for="quantite">Quantite : </label>
				<input type="text" id="quantite" name="quantite"/> </br>
				
				<label for="minimum">Minimum : </label>
				<input type="text" id="minimum" name="minimum"/> </br>
				
				<label for="maximum">Maximum : </label>
				<input type="text" id="maximum" name="maximum"/> </br>
				
				<label for="seuilAlerte">Seuil d'alerte : </label>
				<input type="text" id="seuilAlerte" name="seuilAlerte"/> </br>
				
				<label for="unité">Unité : </label>
				<select id="unité" name="unite"> 
					<option value="piece">Pièce</option>
					<option value="kilogramme">kilogramme</option>
					<option value="gramme">gramme</option>
					<option value="litre">litre</option>
				</select></br>
				
				<input type="submit" id="ajouter" name="ajouter" value="Ajouter ingrédient"/>
			</fieldset>
		}
		
		@views.html.footer()
		</div>
</body>
</html>