<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/gerant.css" rel="stylesheet">
		<title>Header & footer pour le gérant</title>
	</head>

	<body>
		<header>
			<a href="../views/compte_restaurant.html"><input type="button" name="Mon compte" value="Mon compte" >
			<a href="../views/authentification.html"><input type="button" name="Deconnexion" value="Déconnexion" >
			
			<div class="container">
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<ul class="nav navbar-nav">
							<li onclick="clicked(this)"> <a href="../views/accueil_gerant.html">Accueil</a> </li>
							<li onclick="clicked(this)"> <a href="../views/stocks_gerant.scala.html">Stocks</a> </li>
							<li onclick="clicked(this)"> <a href="../views/demande_reapprovisionnement_gerant.html">Demande de réapprovisionnement</a> </li>
							<li onclick="clicked(this)"> <a href="../views/alertes_gerant.html">Alertes</a> </li>
							<li onclick="clicked(this)"> <a href="../views/administration_gerant.html">Administration</a> </li>
							<li onclick="clicked(this)"> <a href="../views/suivi_des_commandes_gerant.html">Suivi des commandes</a> </li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		
		<footer>
			<a href="#">Retour en haut de la page</a>
		</footer>
	</body>
</html>