<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
<title>Nouveau membre gérant</title>
</head>
<body>
	
	<form>
			<h1> Ajouter un nouveau membre </h1>
			<fieldset>
				<legend> Informations du nouveau membre</legend>
			
				<label for="identifiant">Identifiant : </label>
				<input type="text" id="identifiant" name="identifiant"/> </br>
				
				<label for="password">Mot de passe (provisoire) : </label>
				<input type="password" id="password" name="password"/> </br>
				
				<label for="rôle">Rôle de l'utilisateur : </label>
				<select id="role" name="role"> 
					<option> - </option>
					<option>Gérant</option>
					<option>Cuisinier</option>
					<option>Serveur</option>
				</select></br>
				
				<input type="button" id="ajouter" name="ajouter" value="Créer membre"/>
			</fieldset>
		</form>
</body>
</html>