<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))' rel="stylesheet">
		<link href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))' rel="stylesheet">
		<link href='@routes.Assets.at("app.css")' rel="stylesheet">
		<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
	</head>
	
	<body>
		
        <div class="row">
	        <nav class="navbar navbar-inverse">
	            <div class="col-md-5">
	            	<h4><font color="white">SERVEUR</font></h4>
	            </div>
	            <div class="col-md-5">
	                <ul class="nav navbar-nav">
						<li onclick="clicked(this)"> <a href="../serveur_accueil">Accueil</a> </li>
						<li onclick="clicked(this)"> <a href="../serveur_stocks">Stocks</a> </li>
						<li onclick="clicked(this)"> <a href="../serveur_alertes">Alertes</a> </li>
					</ul>
	            </div>
	            <div class="col-md-2">
					<a href="@routes.Application.serveurCompte"><input type="button" name="Mon compte" value="Mon compte" class="btn btn-success btn btn-success"></a>
					<a href="@routes.Application.logOut"><input type="button" name="Deconnexion" value="Deconnexion" class="btn btn-success btn btn-success"></a>			
				</div>
	        </nav>
        </div>
        
	</body>
	
</html>