@(alertes: Int)
<!DOCTYPE HTML>
<html>

	<head>
		<title> Accueil Serveur </title>
	</head>

	<body>
	@views.html.serveur_header()

	<div class="container">
			<div class="row">
				<div class="col-xs-12">
	      			<div class="main">
	              		 <div class="row">
		<h1> Bienvenue sur votre compte ! </h1>
		
		<a href="../cuisinier_alertes">Vous avez @alertes alertes.</a>  <br/>
		Accedez aux fonctionnalites de votre compte en cliquant sur les autres onglets de la page.
		
		</div>
		</div>
		</div>
		</div>
		@views.html.footer()
		</div>


	</body>

</html>