@(produits: List[Produit])

<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../bootstrap-3.3.4-dist/bootstrap-3.3.4-dist/css/app.css" rel="stylesheet">
		<script src="../../target/web/public/main/lib/jquery/jquery.js"></script>
		<title> Mes stocks</title>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
	      			<div class="main">
	              		 <div class="row">
							<nav class="navbar navbar-inverse">
								<div class="container-fluid">
					
									<a href="../views/compte_gerant.html"><input type="button" name="Mon compte" value="Mon compte" class="btn btn-success btn btn-success"></a>
									<a href="@routes.Application.logOut"><input type="button" name="Deconnexion" value="Déconnexion" class="btn btn-success btn btn-success"></a>
									
									<ul class="nav navbar-nav">
										<li onclick="clicked(this)"> <a href="../views/gerant_accueil.scala.html">Accueil</a> </li>
										<li onclick="clicked(this)"> <a href="../views/stocks_gerant.scala.html">Stocks</a> </li>
										<li onclick="clicked(this)"> <a href="../views/gerant_demande_reapprovisionnement.scala.html">Demande de réapprovisionnement</a> </li>
										<li onclick="clicked(this)"> <a href="../views/gerant_alertes.scala.html">Alertes</a> </li>
										<li onclick="clicked(this)"> <a href="../views/gerant_administration.scala.html">Administration</a> </li>
										<li onclick="clicked(this)"> <a href="../views/gerant_suivi_des_commandes.scala.html">Suivi des commandes</a> </li>	
									</ul>
								</div>
							</nav>
					
			<form id="form1" class="col-lg-12">
				<div class="form-group" id="id0">
				</div>
				
				<div class="form-group" id="id1">
					<div class="row">
						Code couleur :<br>
						<div class="col-xs-2">Stock normal : </div> <canvas id="myCanvas" width="50" height="0" style="border:5px solid rgb(0,210,0);"></canvas> </div> <br>
						<div class="col-xs-2">Stock faible : </div> <canvas id="myCanvas" width="50" height="0" style="border:5px solid orange;"> </canvas> </div><br>
						<div class="col-xs-2">Stock critique : </div><canvas id="myCanvas" width="50" height="0" style="border:5px solid red;"> </canvas></div>
						</div>
						
					</div>
				
				
				<div class="form-group" id="id2">
					<div class="col-md-2">
						<label for="ingredient">Ingrédient :</label>

						<select name="ingredient" id="ingredient">
						
						@for(produit <- produits) {
							<option value="fromage">@produit.productName</option>
						}
					
						</select>
					</div>
						
					<div class="col-md-2">
						<label for="qualite">Qualité :</label>
						<input 7type="text" id="qualite" name="Nom" />
					</div>
					
					<div class="col-md-2">
						<label for="minimum">Minimum :</label>
						<input type="text" id="minimum" name="Nom" />
					</div>
					
					<div class="col-md-2">
						<label for="maximum">Maximum :</label>
						<input type="text" id="maximum" name="Nom" />
					</div>
					
					<div class="col-md-2">
						<label for="alerte">Seuil d'alerte :</label>
						<input type="text" id="alerte" name="alerte" />
					</div>
					
					<div class="col-md-2">
						<label for="unite">Unité :</label>
						<select name="unite" id="unite">
							<option value="pièce">Pièce</option>
							<option value="kilogramme">kilogramme</option>
							<option value="gramme">gramme</option>
							<option value="litre">litre</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<button onclick="clickedBis()" class="btn btn-success btn btn-success" type="button">Nouvel ingrédient</button>
				</div>

			</form>
		</div>
		
			</div>
					</div>
				</div>
			</div>
		@views.html.footer()

	</body>
	
	<script>
		var compteur = 0;
		var tab = ["Ingrédient","Qualité","Minimum","Maximum","Seuil d'alerte","Unité"];

		function clicked(element){
			//console.log(elementBis);function(compteur){compteur++; return "bloc"+compteur}
			$(".active").removeClass("active");
			$(element).addClass("active");
		}

		function clickedBis(){
			compteur++;

			$('<div />', {
    						id : "blocv"+compteur,
    						class : "form-group", 
						}).appendTo('form');
			$('<div />', {
							id: "bloc"+compteur,
							class: "row",
						}).appendTo($('#blocv'+compteur));

			for(var i = 0; i < 6; i++){
				if(i == 0){
					$('<div />', {
									class: "col-md-2",
									id: "div"+compteur+i,
								}).appendTo($("#bloc"+compteur));
					$('<label />', {
									for: tab[i]+compteur+i,
									id : 'label'+compteur+i,	
								}).appendTo($("#div"+compteur+i));
					$('#label'+compteur+i).html(tab[i]+":");
					$('<select />', {
										name: tab[i],
										id: tab[i]+compteur+i,
									}).appendTo($("#div"+compteur+i));
					$('<option />', {
										value: "Poire",
										id: "option"+compteur+i,
									}).appendTo($("#"+tab[i]+compteur+i));
					$("#option"+compteur+i).html("poirehbhbjhhhrghuhreuuhjeoijg");
				}else if(i == 5){
					$('<div />', {
									class: "col-md-2",
									id: "div"+compteur+i,
								}).appendTo($("#bloc"+compteur));
					$('<label />', {
									for: tab[i],
									id : 'label'+compteur+i,	
								}).appendTo($("#div"+compteur+i));
					$('#label'+compteur+i).html(tab[i]+":");
					$('<select />', {
										name:tab[i],
										id: tab[i]+compteur+i,
									} ).appendTo($("#div"+compteur+i));
					$('<option />', {
										value: "Poire",
										id: "option"+compteur+i,
									}).appendTo($("#"+tab[i]+compteur+i));
					$("#option"+compteur+i).html("Poirekrjgetgjlijrotee");
				}else{
					$('<div />', {
									class: "col-md-2",
									id: "div"+compteur+i,
								}).appendTo($("#bloc"+compteur));
					$('<label />', {
									for: tab[i],
									id : "label"+compteur+i,	
								}).appendTo($("#div"+compteur+i));
					$('#label'+compteur+i).html(tab[i]+":");
					$('<input />', {
										name : tab[i],
										id : tab[i],
										type : "text",
										css :{ border: "red 2px solid",
									}
								}).appendTo($("#div"+compteur+i));
				}
			}
		}

	</script>

</html>
